.encabezado {
    background-color: $menucolor;
    display: flex;
    gap: 2rem;
    align-items: end;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    @include tablet {

        display: flex;
        justify-content: start;
        align-items: start;
        gap: 2rem;
        padding-bottom: 2rem;
    }

    @include tablet-mini {
        flex-direction: column;
        align-items: start;
        gap: 0;
        padding-bottom: 0;
    }

    .tituloredes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include tablet-mini {
            flex-wrap: wrap;
        }

        .escudo {
            width: 55px;
            display: inline;
            border-radius: 5px;

            font-family: $mainFont ;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 22px;

            border: #2d283d solid 2px;
        }

        .titulomenu a {
            font-family: 'Inter', sans-serif;
            display: inline;
            font-family: $mainFont;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;


            color: #9B80FF;
        }

 
    }

    .menu-sctn {
        display: flex;
        background-color: #18337E;
        flex-direction: row;
        align-items: end;
        justify-content: start;

      

        @include tablet-mini {
            display: flex;
            align-self: center;
            align-items: start;
            justify-content: start;
            width: 100%;
        }

        & .menu-sin-bootstrap {
            margin: 2.5px;
        }

        .menuindex {
            display: flex;
            background-color: #18337E;
            flex-direction: row;
            align-items: end;

            justify-content: start;

            @include tablet-mini {
                width: 100%;
                flex-direction: column;
                align-items: start;
                justify-content: start;

            }



            .menu-div {
                -webkit-animation: slide-in-bck-center .7s cubic-bezier(.25, .46, .45, .94) both;
                animation: slide-in-bck-center .7s cubic-bezier(.25, .46, .45, .94) both;

                @include tablet-mini {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0px;
                    margin: 0px;
                }

                .menu {


                    background-color: $menuItemColor;
                    min-width: 100%;

                    border: solid 1px $mainColor;
                    margin: 0px;
                    padding: 20px 20px 15px 20px;
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 20px;
                    color: $mainColor;





                    &:hover {
                        color: $secondaryColor;
                        border: solid 3px $secondaryColor;
                    }


                    @include tablet-mini {
                       max-width: 100%;
                        display: flex;
                        justify-content: center;
                        padding-inline: 0;
                        padding-block: 5px;

                    }
                }


            }

            @for $menu from 1 through 5 {
                .menu-div:nth-child(#{$menu}) {
                    animation-delay: $menu*0.3s ;
                }
            }



        }



    }

}


@-webkit-keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}